body {
    background-color: #282733;
    
}
ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #383737;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #04aa6d79;
}

.active {
    background-color: #04AA6D;
}

.pictureContainer {
    height: 922px;
}

.pictureContainer img {
    display: block;
}

.column {
    float: left;
    padding: 10px;
}

.column.side {
    width: 25%;
    height: 100%;
}

.column.middle {
    width: 50%;
    height: 100%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.imgHor {
    transform: rotateY(180deg); 
}

div.banner {
    margin: 0;
    padding: 0;
}

h1.bannerName {
    margin: 0;
    position: relative;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    background: #22222c;
    
}

.imgContainer {
    height: 922px;
}

.imgContainer img {
    display: block;
}