

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #282733;
    min-height: 100vh;
    margin: 0;
}

header {
    min-height: 50px;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/*#################### CSS für Navbar von hier ###################*/
.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: #277a07;
    color: black;
}

.navbar a.active {
    background-color: #309409;
    color: white;
}
/*####################### bis hier ###################*/

/*################### CSS für Flexbox ###########################*/
.row {
    display: flex;
flex-wrap: wrap;
}

.flexBannerSide {
    flex: 25%;
}

.flexBannerName {
    flex: 50%;
}

.flexSide {
    flex: 25%; 
    padding: 20px;
}

.flexMain {
    flex: 50%;
    padding: 20px;
}
/*############################ bis hier #########################*/

.imgFit {
    width: 100%;
    object-fit: cover;
    text-align: center;
}

/*##### Spiegelt das Bild #####*/
.imgHor {
    transform: rotateY(180deg); 
}

.tourText {
    font-size: 30px;
    color: white;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.imgHor {
    transform: rotateY(180deg); 
}

div.banner {
    margin: 0;
    padding: 0;
}

h1.bannerName {
    margin: 0;
}

footer {
    clear: both;
    position: relative;
    height: 50px;
    text-align: center;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#myBtn {
    font-size: 18px;
    padding: 14px 16px;
    border: none;
    background: #04AA6D;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#myBtn:hover {
    background: #04aa6d79;
    color: white;
}

.tourData {
    list-style: none;
    font-size: 25px;
    width: auto;
    text-align: left;
    border: 2px solid #04aa6d79;
    border-radius: 5px;
    background-color: #0dca85;
    padding: 10px;
    margin-left: 20px;
    margin: 25px;
}

div.listContainer {
    text-align: center;
    color: white;
}

ul.centerList {
    display: inline-block;
    text-align: left;
}

/*######################## Setzt bei eine Display weite von unter 700 Pixeln
######################### die Flexboxen untereinander #####################*/
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/*############# Bei unter 400 Pixel navbar diagonal ##################*/
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}