

body {
    background-color: #282733;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}
ul.header {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #383737;
}
li.header {
    float: left;
}

li.header a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.header a:hover {
    background-color: #04aa6d79;
}

.active {
    background-color: #04AA6D;
}

.pictureContainer {
    height: 922px;
}

.pictureContainer img {
    display: block;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    float: left;
    padding: 10px;
}

.column.side {
    width: 25%;
    height: 100%;
}

.column.middle {
    width: 50%;
    height: 100%;
}

.column.even {
    width: 33%;
    height: 100%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.imgHor {
    transform: rotateY(180deg); 
}

div.banner {
    margin: 0;
    padding: 0;
}

h1.bannerName {
    margin: 0;
}

.pageContainer {
    position: relative;
    min-height: 100vh;
}

.contentWrap {
    padding-bottom: 4.5rem;
}

.footer {
    margin-top: auto;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    background: #22222c;
    height: 60px;
    
}



.imgContainer {
    height: 922px;
}

.imgContainer img {
    display: block;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

#myBtn {
    font-size: 18px;
    padding: 14px 16px;
    border: none;
    background: #04AA6D;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#myBtn:hover {
    background: #04aa6d79;
    color: white;
}

.tourData {
    list-style: none;
    font-size: 25px;
    width: auto;
    text-align: left;
    border: 2px solid #04aa6d79;
    border-radius: 5px;
    background-color: #0dca85;
    padding: 10px;
    margin-left: 20px;
    margin: 25px;
}

div.listContainer {
    text-align: center;
}

ul.centerList {
    display: inline-block;
    text-align: left;
}